/*.header
{
margin: 0 auto;
width: auto;
height: 200px;
background: #DCDCDC;
}
.header h1{
margin-top: 3px;
background: black;
font-family: arial;
color: #fff;
width: 400px;
float: right;
text-align: right;
padding: 10px 10px 10px 0;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
}
.header h1 small
{
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.menu
{
margin: 0 auto;
width: 1000px;
height: 500px;
background: ;
color: white;
font-size: 16px;
text-align: center;
}
.menu ul li
{
	display: inline;
}*/

.header{
    margin: 0 auto;
    width: auto;
    height: 103px;
    background:     gray     ;
}
 
.header h1 {
    margin-top: 3px;
    background:     black;
    font-family: arial;
    color:      blue      ;
    width: 400px;
    float: right;
    padding: 10px 10px 10px 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
}
 
.header h1 small{
    font-size: 10px;
    font-style: italic;
    color:
}
 
.menu{
    margin: 0 auto;
    width: 0 auto;
    height: 40px;
    border-top: 5px solid   blue     ;
    background:     black     ;
    font-size: 16px;
    text-align: center;
}
 
.menu ul li {
    display: inline;
    height: auto;
}
 
.menu li a{
    text-decoration: none;
    margin: 0 10px;
    padding-bottom: 5px;
    color: black;
}
 
.menu li a:hover{
    color: blue;
    border-bottom: 5px solid black;
}
 
.konten{
    margin: 0 auto;
    width: 0 auto;
    height: 290px;
    background-color: #F5DEB3;
    padding: 5px;
}