@font-face {
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/RobotoSlab-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Lora';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Lora-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Lora';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Lora-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Lora';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Lora-Italic.ttf) format('truetype');
}
/*masuk tahap mengias*/
body{
	padding-top: 40px;
	background: #E6E6FA;
	border-top: 4px solid #079DBD;
	font: 16px'Lora', serif;
	color: #363636;
}

a{
	color: #079DBD;
	text-decoration: none;
	transition: all 0.9s cubic-bazier(0.42, 0, 0, 0.96);
}

a:hover {
	color:red;
}

.wadah{
	width: 80%;
	max-width: 840px;
	margin: 0 auto;
}
.kiri{
	width: 25%;
	float: left;
}

.kanan{
	width: 70%;
	float: right;
}
#kepala{
	text-align: center;
}
#kepala p{
	font-size: italic;
}

#navigasi ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigasi li{
	padding: 20px 0;
	border-bottom: 5px solid #cacaca;
}
.post{
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); /*untukketebalansuatuborder*/
}
.post .title{
	margin: 0;
	padding: 10px;
	padding-left: 16px;
	background: #f5f5f5;
	border-left: 4px solid #079DBD;
}
